body{
  text-align:center;
  padding:0px;
  margin: 0px;
}

/* header{
  background-color:white;
} */

#header-section{
  background-color:#94ccd0;
}

#about{
  background-color:#f1faee;
  /* border-bottom:#264653 2px solid; */
}

#skills{
  background-color:#f1faee;
}

#portfolio{
  background-color:#D5E8E0;
}

#contact{
  background-color:#264653;
  color:white;
}

a,p,button{
  font-family: "Quattrocento Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size:16px;
}

h1, h4{
  font-family:"Libre Baskerville", serif;
  font-weight: 00;
  font-style: normal;
}

h1{
  font-size:28px;
  line-height:25px;
}

#header-section, #about, #services, #skills, #portfolio, #contact, #hireme{
  padding:30px 115px;
}

.info-class{
  padding-top:20px;
}

#header-section button{
  background-color:white;
  border:none;
  padding:10px;
  margin-top:15px;
}

button{
  background-color:#94ccd0;
  border:none;
  padding:10px;
}

.skills-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.skills-img0{
  height:110px;
  width:110px
}

.project-card{
  display:flex;
  flex-direction:row;
  flex:1;
  justify-content:space-between;
  align-items: center;
  text-align:start;
  line-height:1.5;
  column-gap:40px;
  margin-top:30px;
}

.aboutme-container{
  display:grid;
  grid-template-columns: 1fr 1.2fr;
  text-align: start;
  line-height:1.5;
}

.contact-container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  text-align: start;
}

.connect-container{
  display:flex;
  flex-direction:column;
}

.logos-class{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.contact-logo{
  height:43px;
}

.contact-logo1{
  position: relative;
  bottom:10px;
} 

.nav{
  height:2rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav-menu ul{
  margin:0;
  padding:0;
  display:flex;
}

.nav-menu ul li{
  list-style:none;
}

.nav-menu ul li a{
  text-decoration:none;
  color:rgb(0,0,0);
  padding:1rem;
  display:block;
}

.nav-menu li:hover{
  background-color:rgba(255,255,255,0.5);
  /* border-radius:10px; */
}

.nav-hamburger{
  width:1.875rem;
  height:1.313rem;
  display:none;
  flex-direction:column;
  justify-content:space-around;
  position:absolute;
  top:2.3rem;
  right:2rem;
}

.nav-hamburger-line{
  height:0.188rem;
  width:100%;
  background-color:rgb(0,0,0);
  border-radius:0.625rem;
  transition:all ease-in-out 0.25s;
}

@media screen and (max-width:550px){
  .nav-hamburger{
    display:flex !important;
  }

  .nav-menu{
    position:absolute;
    display:flex;
    align-items:center;
    background-color:rgba(255,255,255,0.9);
    top:-17rem;
    width:80%;
    transition:all ease-in-out 0.4s;
  }

  .nav{
    flex-direction:column;
    align-items:flex-start;
  }

  .nav-menu ul{
    flex-direction:column;
    width:100%;
    padding:2rem 0 0.6rem;
  }

  .nav-menu ul li{
    text-align:center;
  }

  .nav-menu{
    z-index:1;
  }

  .nav-menu.active{
    top:0rem;
    z-index:1;
  }

  .nav-hamburger.active :nth-child(1){
    transform:rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav-hamburger.active :nth-child(2){
    opacity:0;
  }

  .nav-hamburger.active :nth-child(3){
    transform:rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

@media screen and (min-width:768px) and (max-width:1024px){
  #header-section, #about, #services, #skills, #portfolio, #contact, #hireme{
    padding:30px 40px;
  }

  .skills-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width:480px) and (max-width:768px){
  #header-section, #about, #services, #skills, #portfolio, #contact, #hireme{
    padding:20px 30px;
  }

  .skills-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skills-img0{
    height:100px;
    width:100px;
  }

  .contact-container{
    flex-direction:column;
  }

  .connect-container{
    text-align:center;
  }
}

@media screen and (min-width:320px) and (max-width:480px){
  #header-section, #about, #services, #skills, #portfolio, #contact, #hireme{
    padding:30px 20px;
  }

  .aboutme-container{
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  .skills-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  .skills-img0{
    height:80px;
    width:80px;
  }

  .contact-container{
    flex-direction:column;
    text-align:center;
  }
}